#inventar{
    width: 50%;
    height: 80%;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    border: solid;
}

#new-item{
    width: 50%;
    height: 80%;
    background: white;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0;
    border: solid;
}

#search{
    width: 100%;
    height: 20%;
    background: white;
    position: absolute;
    left: 0;
    top: 80%;
    margin: 0;
    border: solid;
}
#inventar-table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.inventar-table-td, .inventar-table-th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.inventar-table-tr:nth-child(even) {
    background-color: #dddddd;
}
iframe{
    border: none;
    overflow: scroll;
}
.index-header{
    margin-left: 5%;
}
.wmfg_label{
    width: 50%;
}
.wmfg_text{
    width: 50%;
}
.wmfg_layout_0{
    width: 50%;
}
body{
    overflow: auto;
}