#inventar{
    width: 50%;
    height: 80%;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

#new-item{
    width: 50%;
    height: 80%;
    background: aqua;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0;
}

#search{
    width: 100%;
    height: 20%;
    background: blueviolet;
    position: absolute;
    left: 0;
    top: 80%;
    margin: 0;
}